#game {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: 33.3%;
    height: 100%;
    border: 1px solid black;
}

.cell:hover {
    background-color: #f2f2f2;
}

.cell.X {
    background-image: url(x.png);
    background-size: cover;

}

.cell.O {
    background-image: url(o.png);
    background-size: cover;
}

#reset {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.2em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}